body{
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.background{
    background:  transparent url(http://s18.postimg.org/l7yq0ir3t/pick8_1.jpg) repeat 0 0;
}

*{
    margin: 0 auto;
    padding: 0;
}

#wrapper{
    max-width: 1200px;
    margin: auto;
    background-color: #e9e9e9;
    border: 3px solid #e5dde4;
    border-radius: 5px;
}

.line-separator{
    height:3px;
    background:#ccc;
}

.clear_float{
    clear: both;
}

.row{
    margin:0 !important;
}

/*<-----------Nav Wrapper(Header)------------>*/
#navWrapper{
    width: 100%;
    padding-top: 10px;
}
#logoWrapper{
    padding-left: 10px;
}

#logoImg{
    margin-left: 10px;
}

#navList{
    float: right;
    list-style: none;
    margin: 0 0 3px 0;
    padding: 0;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

#navList li{
    float: left;
    text-align: center;
    width: 100px;
    border-right: 1px solid #ccc;
}

#navList li a{
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #666666;
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
}

#navList li a:hover{
    color: #c00;
}

/*<---------Profile Data Wrapper(mainWrapper)--------------->*/
#profileFormWrapper{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid #dcdcdc;
}

.profileEditStyle{
    margin-bottom: 10px;
    height: 30px;
    border: 3px solid #EBE6E2;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    width: 270px;
}

.profileEditStyle:focus{
    border-color: #c00;
    outline: none;
}

.btnStyle{
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.btnStyle:hover{
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color:#e9e9e9;
}

.btnStyle:active{
    position:relative;
    top: 1px;
}

#textAreaWrapper{
    border: 3px solid #dcdcdc;
}

#textArea{
    min-width: 360px;
    height: 395px;
    border: 3px solid #EBE6E2;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    padding: 5px;
    resize: vertical;
}

#textArea:focus{
    border-color: #c00;
    outline: none;
}

#offersListWrapper{
    float: right;
    height: auto;
    border: 2px solid #dcdcdc;

}

#offersList{
    overflow: scroll;
    list-style: none;
    min-height: 390px;
    border: 3px solid #dcdcdc;
}

#offersList li input{
    border: 3px solid #666666;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
}

/*<------------Footer--------------->*/
#footer{
    width: 100%;
    min-height: 100px;
    text-align: center;
    padding-top: 25px;
}

.posAnchor{
    padding-top: 10px;
}

.styleFooterAnchor{
    text-decoration: none;
    color: #666666;
    font-size: 20px;
}

.styleFooterAnchor:hover{
    text-decoration: none;
    color: #c00;
}

.style_BottomIcon{
    color: #666666;
}

.style_BottomIcon:hover{
    color: #c00;
}
/*=============Contact.html===========================>*/

.pos{
    text-align: center;
    padding-top: 20px;
}

.contactEditStyle{
    margin-bottom: 10px;
    height: 50px;
    width: 50%;
    border: 3px solid #EBE6E2;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.contactEditStyle:focus{
    border-color: #c00;
    outline: none;
}

#contactTextAreaStyle{
    min-width: 50%;
    height: 395px;
    border: 3px solid #EBE6E2;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    padding: 5px;
}

#contactTextAreaStyle:focus{
    border-color: #c00;
    outline: none;
}

#contactBtn{
    width: 150px;
    margin-bottom: 20px;
}

/*<--------------Responsive Design--------------->*/

/*-----------MEDIUM--------------*/
@media screen and (min-width: 992px) and (max-width: 1199px){
    #textArea{
        resize: horizontal;
    }

    #offersListWrapper{
        float: left;
    }
}

/*-----SMALL-----*/
@media screen and (min-width: 768px) and (max-width: 991px){
    /*<---header-->*/
    #navList li{
        width: 49.9%;
    }

    #textArea{
        resize: none;
    }

    #offersListWrapper{
        float: left;
    }
}

/*-----------EXTRA SMALL-----*/
@media all and (max-width: 767px){
    #logoImg{
        margin-left: 40%;
    }

    #navList li{
        width: 49.9%;
    }

    #offersListWrapper{
        float: left;
    }
}






































